<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.embrwave.embrwave">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <activity android:name=".EmbrWaveActivity">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <service android:enabled="true" android:name=".service.EmbrWaveService"/>
        <service android:enabled="true" android:name=".service.BluetoothService"/>
    </application>

</manifest>